name: Build and Push to Aliyun
on:
  push:
    branches:
      - main
      - dev
    tags:
      - '*'
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Aliyun Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cn-chengdu.aliyuncs.com
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
      - name: Build and Push (main -> latest)
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: registry.cn-chengdu.aliyuncs.com/doomer/info-center:latest
      - name: Build and Push (dev -> dev)
        if: github.ref == 'refs/heads/dev'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: registry.cn-chengdu.aliyuncs.com/doomer/info-center:dev
      - name: Build and Push (tag -> <tag>)
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: registry.cn-chengdu.aliyuncs.com/doomer/info-center:${{ github.ref_name }}
      - name: Send workflow result
        if: always()
        uses: ./.github/actions/notify
        with:
          title: ${{ job.status }}
          repo: ${{ github.repository }}
          ref: ${{ github.ref_name }}
          sha: ${{ github.sha }}
          tags: ${{ steps.tags.outputs.tags }}
